<div class="page-header">
  <h1>Клиенты</h1>
</div>

<button (click)="onAddClient()" type="button" class="btn btn-success">Добавить Клиента</button>
<br/><br/>
<table class="table">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>E-mail</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td class="vert-align">{{client.name}}</td>
    <td class="vert-align">{{client.address}}</td>
    <td class="vert-align">{{client.phone}}</td>
    <td class="vert-align">{{client.email}}</td>
    <td>
      <button (click)="onEditClient(client)" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
      <button (click)="onDeleteClient(client)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
  </tbody>
</table>
