<div class="page-header">
  <h1>Клиенты</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">ФИО</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name" #name>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Адрес</label>
            <input
              type="text"
              id="address"
              class="form-control"
              formControlName="address"
              #address>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">Телефон</label>
            <input
              type="text"
              id="phone"
              class="form-control"
              formControlName="phone"
              #phone>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              #email>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="modal.open('lg')">
              Добавить абонемент
            </button>
          </div>
        </div>
        <modal #modal>
          <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
          </modal-header>
          <modal-body>
            <div class="container">
              <div class="row">
                <div class="col-xs-4">
                  <select [(ngModel)]="selectedRates" (ngModelChange)="onChangeRates($event)" name="selectedRates" formControlName="selectRates">
                    <option [value]="rate.id" *ngFor="let rate of rates">{{rate.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <select [ngModel]="selectedInstructors" (ngModelChange)="onChangeRates($event)" name="selectedInstructors" formControlName="selectInstructors">
                    <option [value]="instructor.id" *ngFor="let instructor of instructors">{{instructor.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4">
                  <h4>Выберите начало занятии</h4>
                  <p-calendar [(ngModel)]="startdatetime" formControlName="startdatetime"></p-calendar>
                </div>
              </div>
            </div>
          </modal-body>
          <modal-footer [show-default-buttons]="true"></modal-footer>
        </modal>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!clientForm.valid">Сохранить</button>
          <a class="btn btn-danger" (click)="onCancel()">Отмена</a>
        </div>
      </div>
    </form>
  </div>
</div>
