<div class="page-header">
  <h1>Клиенты</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">ФИО</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Адрес</label>
            <input
              type="text"
              id="address"
              class="form-control"
              formControlName="address"
              #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phone">Телефон</label>
            <input
              type="text"
              id="phone"
              class="form-control"
              formControlName="phone"
              #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!clientForm.valid">Сохранить</button>
          <a class="btn btn-danger" (click)="onCancel()">Отмена</a>
        </div>
      </div>
    </form>
  </div>
</div>
