<div class="page-header">
  <h1>Ключи</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="keyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Номер</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!keyForm.valid">Сохранить</button>
          <a class="btn btn-danger" (click)="onCancel()">Отмена</a>
        </div>
      </div>
    </form>
  </div>
</div>
