<div class="page-header">
  <h1>Ключи</h1>
</div>

<button (click)="onAddKey()" type="button" class="btn btn-success">Добавить Новый Ключ</button>
<br/><br/>
<table class="table">
  <thead>
  <tr>
    <th>Номер</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let key of keys">
    <td class="vert-align">{{key.name}}</td>
    <td>
      <button (click)="onEditKey(key)" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
      <button (click)="onDeleteKey(key)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
  </tbody>
</table>
