<div class="page-header">
  <h1>Абонементы</h1>
</div>

<button (click)="onAddRate()" type="button" class="btn btn-success">Добавить Абонемент</button>
<br/><br/>
<table class="table">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Цена</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rate of rates">
    <td class="vert-align">{{rate.name}}</td>
    <td class="vert-align">{{rate.price}}</td>
    <td>
      <button (click)="onEditRate(rate)" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
      <button (click)="onDeleteRate(rate)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    </td>
  </tr>
  </tbody>
</table>
