<div class="page-header">
  <h1>Инструкторы</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="rateForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Наименование</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Цена</label>
            <input
              type="number"
              id="price"
              class="form-control"
              formControlName="price">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Вид спорта</label>
            <div class="input-group">
              <input #gymnew type="text" class="form-control"
                     placeholder="Добавить ...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="onAddGym(gymnew)">+</button>
              </span>
            </div>
            <select class="form-control" id="gymid" formControlName="gymid">
              <option *ngFor="let gym of gyms" [value]="gym.id">{{gym.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Вид тренировок</label>
            <select
              type="number"
              id="training"
              class="form-control"
              formControlName="training">
              <option value="0">Общий</option>
              <option value="1">Групповое</option>
              <option value="2">Индивидуальное</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Дни недели</label>
            <p-selectButton [options]="weekDays" [(ngModel)]="selectedDays" multiple="multiple" formControlName="weekdays"></p-selectButton>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Часы</label>
            <div class="row">
              <div class="col-xs-3"><p-calendar [(ngModel)]="starttime" [timeOnly]="true" formControlName="starttime"></p-calendar></div>
              <div class="col-xs-3"><p-calendar [(ngModel)]="endtime" [timeOnly]="true" formControlName="endtime"></p-calendar></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Срок</label>
            <input
              type="number"
              id="enddate"
              class="form-control"
              formControlName="enddate">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Количество</label>
            <input
              type="number"
              id="count"
              class="form-control"
              formControlName="count">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!rateForm.valid">Сохранить</button>
          <a class="btn btn-danger" (click)="onCancel()">Отмена</a>
        </div>
      </div>
    </form>
  </div>
</div>
