<div [hidden]="!getToken()"  class="collapse navbar-collapse" collapse="isCollapsed" style="position: fixed;width: 90%;background-color: white;padding-top: 10px;padding-bottom: 10px; border-bottom: 1px solid #ccc;z-index: 2;">
  <nav>
    <style>
      [hidden], template {
        display: none !important;
      }
    </style>
    <ul class="nav nav-pills pull-left">
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/registration']"><a href="#">Регистрация посещения</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/clients']"><a href="#">Клиенты</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/instructors']"><a href="#">Инструкторы</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/rates']"><a href="#">Абонементы</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/keys']"><a href="#">Ключи</a></li>
      <li [hidden]="!getToken()" role="presentation" routerLinkActive="active" [routerLink]="['/logout']"><a href="#">Выход</a></li>
    </ul>
  </nav>
</div>
